// Typography
$root_font: 1rem;
$font-family-primary: 'DELIRIUMNCV';
$font-family-secondary: 'NeueMontreal-Regular';
// headings 

// theme colors 

$themeColors: (
    "white": #ffffff,
    "green": #21F48F,
    "yellow": #F2BB22,
    "purple": #7C22F2,
    "orange": #FC7E4C,
    "bluishPurle": #225EF2,
    "blue": #2580EF,
    "skyBlue": #26B1ED,
    "darkCyan": #083644,
    "fadeBlack": #353535,
    "mattRed": #F24949,
);
