@font-face {
    font-family: 'DELIRIUMNCV';
    src: url('DELIRIUMNCV.eot');
    src: url('DELIRIUMNCV.eot?#iefix') format('embedded-opentype'),
        url('DELIRIUMNCV.woff2') format('woff2'),
        url('DELIRIUMNCV.woff') format('woff'),
        url('DELIRIUMNCV.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

