* {
    box-sizing: border-box;
}
html,
body {
    box-sizing: border-box;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
}
html {
    /* for responsive fonts */
    font-size: calc(0.22rem + 0.65vw);
}
/* scrollbar custom style */
&::-webkit-scrollbar {
    display: none;
}

/* header custom style */
.dp-header-main__cards {
    height: calc(100vh - 7rem);
}
.dp-header-main__cards::-webkit-scrollbar {
    width: 0.4rem;
}
.dp-header-main__cards::-webkit-scrollbar-track {
    --dp-bg-opacity: 1;
    background-color: rgb(241 245 249/var(--dp-bg-opacity))!important;
    border-radius: 0.25rem;
}
.dp-header-main__cards::-webkit-scrollbar-thumb {
    --dp-bg-opacity: 1;
    background-color: rgb(33 244 143/var(--dp-bg-opacity))!important;
    border-radius: 0.25rem;
}
/* animations  */
/* .dp-wrapper {
    animation: fadeOut .3s ease;
    transform-origin: center;
    animation-timeline: scroll();
}
.dp-wrapper__bg .circle{
    animation: zoomIn .3s ease;
    transform-origin: center;
    animation-timeline: scroll();
}
.dp-intro__heading {
    animation: slideRight linear;
    transform-origin: center;
    animation-timeline: scroll();
}

.dp-intro__content {
    animation: slideLeft linear;
    transform-origin: center;
    animation-timeline: scroll();
}
.dp-vision {
    animation: fadeIn .3s ease;
    transform-origin: center;
    animation-timeline: scroll();  
}
.dp-vision__heading-I {
    animation: slideUp linear;
    transform-origin: center;
    animation-timeline: scroll();
}
.dp-vision__heading-II {
    animation: slideDown linear;
    transform-origin: center;
    animation-timeline: scroll();
} */

 @keyframes slideRight {
    to {
      transform: translateX(100vw);
      opacity: 0;
    
    }
  } 
  @keyframes slideLeft {
    to {
      transform: translateX(100vw);
      opacity: 0;
    
    }
  } 
  @keyframes zoomIn {
    0% {
        transform: scale(1);
        opacity: 0.25;
      }
      100% {
        transform: scale(2.5);
        opacity: 0;
      }
  } 
  @keyframes fadeOut {
    0% {
        height: 100%;
    }
    100% {
        height: 0;
 
      }
  }
  @keyframes fadeIn {
    100% {
        height: 100%;
    }
    0% {
        height: 0;
 
      }
  }
  @keyframes slideUp {
    to {
      transform: translateY(-100vh);
      opacity: 0;
    }
  } 
  @keyframes slideDown {
    to {
      transform: translateY(100vh);
      opacity: 0;
    
    }
  } 